.general_marginTop {
    margin-top: 77px;
}

.gneral__h1 {
    font-size: 75px;
}

.general__flex_end {
    display: flex;
    justify-content: end;
}


.login_ {
    background-color: #374151;
}

.button_delet {
    background-color: red;
}