.general_marginTop {
    margin-top: 77px;
}

.gneral__h1 {
    font-size: 75px;
}

.general__flex_end {
    display: flex;
    justify-content: end;
}

.agenda__listEvent {
    margin: 20px;
    border-radius: 7px;
    border: 2px solid rgb(217, 217, 217);
    border-left: solid rgb(247, 118, 110) 3px;
}

.agenda__listEvent_sub {
    border-bottom: 2px solid rgb(217, 217, 217);
    border-left: none;
    padding: 10px;
}

.agenda__listEvent_sub {
    display: flex;

        
}
.agenda__listEvent_sub_date {
    margin-right: 30px;
}

.login_ {
    background-color: #374151;
}

.button_delet {
    background-color: red;
}